.weatherApp {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

body {
  margin: 0;
  font-family: "Segoe UI";
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

form {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.temperature {
  font-size: 40px;
}

.units {
  position: relative;
  top: -15px;
}
ul {
  display: block;
  list-style-type: none;
  margin: 10px auto;
}

a {
  text-decoration: none;
  margin-left: 16rem;
  margin-top: 10px auto;
  padding: auto;
}

a:active {
  color: purple;
}

div {
  display: block;
}
